<div data-role="header"  data-direction="reverse" data-theme="b">
    <span class="ui-title" id="headerTitle">VA Pain Coach</span>
</div><!--end header 10-->

<div data-role="content" data-theme="b" style="background:transparent;">
    <ul data-role="listview" data-inset="true" data-theme="b">
        <li><a href="#learn">
            <img src="_assets/img/HomeLearnButton.png">
            <h2>Learn</h2>
        </a></li>
        <li><a href="#assess" >
            <img src="_assets/img/HomeSelfAssessButton.png">
            <h2>Self Assessment</h2>
        </a></li>
        <li><a href="#manage">
            <img src="_assets/img/HomeManageButton.png">
            <h2>Manage</h2>
        </a></li>
        <li><a href="#goals">
            <img src="_assets/img/HomeGoalsButton.png">
            <h2>Goals</h2>
        </a></li>
    </ul>
</div><!-- /content -->

<div data-role="navbar" class="nav-bar"   data-grid="d" data-id="myfooter" data-position-to="g" data-position="fixed" data-theme="b" data-prefetch="true">
    <ul>
        <li><a href="#home"  id="tbutton1" data-icon="custom" class="ui-btn-active ui-state-persist">Home</a></li>
        <li><a href="#learn"  id="tbutton2" data-icon="custom" >Learn</a></li>
        <li><a href="#assess" id="tbutton3" data-icon="custom" >Access</a></li>
        <li><a href="#manage" id="tbutton4" data-icon="custom" >Manage</a></li>
        <li><a href="#goals" id="tbutton5" data-icon="custom"  >Goals</a></li>
    </ul>
</div>

