<div data-role="header" data-theme="b">
    <a href="#home" data-icon="back" >Home</a>
    <span class="ui-title">Assess</span>
</div><!--end header 10--header -->

<div data-role="content"><!--//page 3 list content-->
    <ul data-role="listview" data-inset="true">
        <li><a href="#" data-transition="slide">
            <img src="_assets/img/Assess-MonthlyAssessment.png">
            <h2>Monthly Assessment</h2>
        </a></li>
        <li><a href="#">
            <img src="_assets/img/Assess-Diary.png">
            <h2>Pain Diary</h2>
            <!--<p>BlackBerry launched the Z10 and Q10 with the new BB10 OS</p>
            <p class="ui-li-aside">BlackBerry</p>-->
        </a></li>
        <li><a href="#">
            <img src="_assets/img/Assess-GraphPastResults.png">
            <h2>Pain Graphs</h2>
            <!--<p>BlackBerry launched the Z10 and Q10 with the new BB10 OS</p>
            <p class="ui-li-aside">BlackBerry</p>-->
        </a></li>
        <li><a href="#">
            <img src="_assets/img/Assess-PainReport.png">
            <h2>Pain Reports</h2>
            <!--<p>Nokia rolls out WP 7.8 to Lumia 800</p>
            <p class="ui-li-aside">Windows Phone</p>-->
        </a></li>
        <li><a href="#">
            <img src="_assets/img/Assess-PainSummaryReport.png">
            <h2>Pain Summary</h2>
            <!--<p>Nokia rolls out WP 7.8 to Lumia 800</p>
            <p class="ui-li-aside">Windows Phone</p>-->
        </a></li>
    </ul>

</div><!-- /page 3 list content -->
<div data-role="navbar" class="nav-bar"   data-grid="d" data-id="myfooter" data-position-to="g" data-position="fixed" data-theme="b" data-prefetch="true">
    <ul>
        <li><a href="#home"  id="tbutton1" data-icon="custom" >Home</a></li>
        <li><a href="#learn"  id="tbutton2" data-icon="custom">Learn</a></li>
        <li><a href="#assess" id="tbutton3" data-icon="custom"  class="ui-btn-active ui-state-persist">Access</a></li>
        <li><a href="#manage" id="tbutton4" data-icon="custom">Manage</a></li>
        <li><a href="#goals" id="tbutton5" data-icon="custom">Goals</a></li>
    </ul>
</div>