

<div data-role="header" data-theme="b">
    <div class="ui-btn-left" data-role="controlgroup" data-type="horizontal">
        <!--<a href="#home" data-icon="home" data-role="button">Home</a>-->
        <a href="#learn" data-icon="back" data-role="button">Learn</a>

    </div>
    <!--<a href="#learn" data-icon="back" >LEARN</a>-->
    <span class="ui-title">Pain Basics</span>

</div><!--end header 10--header -->
<div data-role="content" class="frm" data-theme="b"  style="background: transparent;"><!--//page 5 list content-->

    <ul data-role="listview" data-inset="true" data-theme="c">

        <li><a href="#learnsection" onclick="doLearn('1');">
            <h2>Acute vs. Chronic</h2>
        </a></li>
        <li><a href="#learnsection" onclick="doLearn('2');">
            <h2>Pain Cycle</h2>
        </a></li>
        <li><a href="#learnsection" onclick="doLearn('3');">
            <h2>Chronic vs.'Psychogenic Pain'</h2>
        </a></li>
        <li><a href="#learnsection" onclick="doLearn('4');">
            <h2>Flare-Ups</h2>
        </a></li>
        <li><a href="#learnsection" onclick="doLearn('5');">
            <h2>Relaxation and Pain</h2>
        </a></li>
        <li><a href="#learnsection" onclick="doLearn('6');">
            <h2>Mood and Pain</h2>
        </a></li>
        <li><a href="#learnsection" onclick="doLearn('7');">
            <h2>Pain Management–Veteran</h2>
        </a></li>
        <li><a href="#learnsection" onclick="doLearn('8');">
            <h2>Pain Management – Caregiver Perspective</h2>
        </a></li>
        <li><a href="#learnsection" onclick="doLearn('9');">
            <h2>Gate Control Theory</h2>
        </a></li>
        <li><a href="#learnsection" onclick="doLearn('10');">
            <h2>Non-medication based treatment</h2>
        </a></li>
        <li><a href="#learnsection" onclick="doLearn('11');">
            <h2>Using Pain Medications Safely (Tips)</h2>
        </a></li>
        <li><a href="#learnsection" onclick="doLearn('12');">
            <h2>Medication Side Effects</h2>
        </a></li>
        <li><a href="#learnsection" onclick="doLearn('13');">
            <h2>Pain’s Impact on your Life</h2>
        </a></li>
        <li><a href="#learnsection" onclick="doLearn('14');">
            <h2>Fear of Movement</h2>
        </a></li>
        <li><a href="#learnsection" onclick="doLearn('15');">
            <h2>Stress and Pain (Veteran Perspective)</h2>
        </a></li>

        <li><a href="#learnsection" onclick="doLearn('16');">
            <h2>Stress and Pain (Caregiver Perspective)</h2>
        </a></li>
        <li><a href="#learnsection" onclick="doLearn('17');">
            <h2>Relationships and Pain (Veteran Perspective)</h2>
        </a></li>
        <li><a href="#learnsection" onclick="doLearn('18');">
            <h2>Relationships and Pain (Caregiver Perspective)</h2>
        </a></li>
        <li><a href="#learnsection" onclick="doLearn('19');">
            <h2>Pain and Work</h2>
        </a></li>
        <li><a href="#learnsection" onclick="doLearn('20');">
            <h2>Care giver Tips</h2>
        </a></li>
        <li><a href="#learnsection" onclick="doLearn('21');">
            <h2>Care giver Resources</h2>
        </a></li>
        <li><a href="#learnsection" onclick="doLearn('22');">
            <h2>Miscellaneous Resources</h2>
        </a></li>
    </ul>
</div><!--end list content-->


    <div data-role="navbar" class="nav-bar"   data-grid="d" data-id="myfooter" data-position-to="g" data-position="fixed" data-theme="b" data-prefetch="true">
    <ul>

        <li><a href="#home" id="tbutton1" data-icon="custom" >Home</a></li>
        <li><a href="#learn"  id="tbutton2" data-icon="custom" class="ui-btn-active ui-state-persist">Learn</a></li>
        <li><a href="#assess" id="tbutton3" data-icon="custom" >Access</a></li>
        <li><a href="#manage" id="tbutton4" data-icon="custom">Manage</a></li>
        <li><a href="#goals" id="tbutton5" data-icon="custom">Goals</a></li>
    </ul>
</div>
