<div data-role="header" data-theme="b">
    <a href="#home" data-icon="home" >Home</a>
    <span class="ui-title">Learn</span>
</div><!--end header 10--header -->

<div data-role="content"><!--//page 2 list content-->
    <ul data-role="listview" data-inset="true">
        <li><a href="#learnbasics">
            <img src="_assets/img/Learn-PainBasics.png">
            <h2>Pain Basics</h2>
        </a></li>
        <li><a href="#learngoals">
            <img src="_assets/img/Learn-PainGoals.png">
            <h2>Pain Goals</h2>
        </a></li>
        <li><a href="#learnskills">
            <img src="_assets/img/Learn-PainSkills.png">
            <h2>Pain Skills</h2>
        </a></li>
    </ul>
</div><!-- /page 2 list content -->

<div data-role="navbar" class="nav-bar"   data-grid="d" data-id="myfooter" data-position-to="g" data-position="fixed" data-theme="b" data-prefetch="true">
    <ul>
        <li><a href="#home" id="tbutton1" data-icon="custom" >Home</a></li>
        <li><a href="#learn"  id="tbutton2" data-icon="custom" class="ui-btn-active ui-state-persist">Learn</a></li>
        <li><a href="#assess" id="tbutton3" data-icon="custom" >Access</a></li>
        <li><a href="#manage" id="tbutton4" data-icon="custom">Manage</a></li>
        <li><a href="#goals" id="tbutton5" data-icon="custom">Goals</a></li>
    </ul>
</div>
