

<div data-role="header" data-theme="b">
    <div class="ui-btn-left" data-role="controlgroup" data-type="horizontal">

        <!--<a href="#learn" data-icon="back" data-role="button">Learn</a>-->
        <a href="#learnbasics" data-icon="back" data-role="button">Basics</a>

    </div>

    <span class="ui-title">Pain Basics</span>
    <a href="#" data-icon="print" data-role="button" class="ui-btn-right" onclick="window.print();">Print</a>
</div><!--end header 10--header -->
<div data-role="content" data-theme="b" style="background:transparent;" id="painPrint"><!--//page 5 list content-->
    <h2 id="painTitle"></h2>
    <p>
   <span id="painText">

   </span>
    </p>

</div><!--end list content-->


<div data-role="navbar" class="nav-bar"   data-grid="d" data-id="myfooter" data-position-to="g" data-position="fixed" data-theme="b" data-prefetch="true">
    <ul>

        <li><a href="#home" id="tbutton1" data-icon="custom" >Home</a></li>
        <li><a href="#learn"  id="tbutton2" data-icon="custom" class="ui-btn-active ui-state-persist">Learn</a></li>
        <li><a href="#assess" id="tbutton3" data-icon="custom" >Access</a></li>
        <li><a href="#manage" id="tbutton4" data-icon="custom">Manage</a></li>
        <li><a href="#goals" id="tbutton5" data-icon="custom">Goals</a></li>
    </ul>
</div>
