

<div data-role="header" data-theme="b">
    <div class="ui-btn-left" data-role="controlgroup" data-type="horizontal">
        <a href="#home" data-icon="home" data-role="button">Home</a>
        <a href="#learn" data-icon="back" data-role="button">Learn</a>

    </div>
    <!--<a href="#learn" data-icon="back" >LEARN</a>-->
    <span class="ui-title">Pain Skills</span>

</div><!--end header 10--header -->
<div data-role="content" class="frm" data-theme="b"  style="background: transparent;"><!--//page 5 list content-->

    <div data-role="collapsible" data-theme="b" data-inset="false">
        <h3>Education</h3>
        <ul data-role="listview">
            <li><a href="#skillssecton" onclick="doSkillsSection('1');">Stretching</a></li>
            <li><a href="#skillssecton" onclick="doSkillsSection('2');">Exercise</a></li>
            <li><a href="#skillssecton" onclick="doSkillsSection('3');">Stress Management</a></li>
            <li><a href="#skillssecton" onclick="doSkillsSection('4');">Anger Management</a></li>
            <li><a href="#skillssecton" onclick="doSkillsSection('5');">Icing</a></li>
            <li><a href="#skillssecton" onclick="doSkillsSection('6');">Brain Power</a></li>
        </ul>
    </div><!-- /collapsible -->
    <div data-role="collapsible" data-theme="b"  data-inset="false">
        <h3>Interactive</h3>
        <ul data-role="listview">
            <li><a href="#skillssecton" onclick="doSkillsSection('7');">SNAP (Catastrophizing)</a></li>
            <li><a href="#skillssecton" onclick="doSkillsSection('8');">Distract Yourself</a></li>
            <li><a href="#skillssecton" onclick="doSkillsSection('9');">Activity Pacing</a></li>
            <li><a href="#skillssecton" onclick="doSkillsSection('10');">Plan a Pleasant Activity</a></li>
            <li><a href="#skillssecton" onclick="doSkillsSection('11');">Deep Breathing</a></li>
            <li><a href="#skillssecton" onclick="doSkillsSection('12');">Progressive Muscle Relaxation (BMR)</a></li>
            <li><a href="#skillssecton" onclick="doSkillsSection('13');">Visualization</a></li>
            <li><a href="#skillssecton" onclick="doSkillsSection('14');">Sleep Tips</a></li>
        </ul>
    </div><!-- /collapsible -->

</div><!--end list content-->


    <div data-role="navbar" class="nav-bar"   data-grid="d" data-id="myfooter" data-position-to="g" data-position="fixed" data-theme="b" data-prefetch="true">
    <ul>

        <li><a href="#home" id="tbutton1" data-icon="custom" >Home</a></li>
        <li><a href="#learn"  id="tbutton2" data-icon="custom" class="ui-btn-active ui-state-persist">Learn</a></li>
        <li><a href="#assess" id="tbutton3" data-icon="custom" >Access</a></li>
        <li><a href="#manage" id="tbutton4" data-icon="custom">Manage</a></li>
        <li><a href="#goals" id="tbutton5" data-icon="custom">Goals</a></li>
    </ul>
</div>
