

<div data-role="header" data-theme="b">
    <div class="ui-btn-left" data-role="controlgroup" data-type="horizontal">
        <a href="#home" data-icon="home" data-role="button">Home</a>
        <a href="#learn" data-icon="back" data-role="button">Learn</a>

    </div>
    <!--<a href="#learn" data-icon="back" >LEARN</a>-->
    <span class="ui-title">Pain Basics</span>

</div><!--end header 10--header -->
<div data-role="content" class="frm" data-theme="b"  style="background: transparent;"><!--//page 5 list content-->

    <ul data-role="listview" data-inset="true">

        <li><a href="#learnsection" onclick="doLearn('1');">

            <h2>Acute vs. Chronic</h2>

        </a></li>
        <li><a href="#cycle"  data-rel="dialog" data-transition="pop">

            <h2>Pain Cycle</h2>

        </a></li>
        <li><a href="#psycho"  data-rel="dialog" data-transition="pop">

            <h2>Chronic vs. 'Psychogenic Pain</h2>

        </a></li>
        <li><a href="#psycho" data-rel="dialog" data-transition="pop">

            <h2>Flare-Ups</h2>

        </a></li>
        <li><a href="#">

            <h2>Relaxation and Pain</h2>

        </a></li>
        <li><a href="#">

            <h2>Mood and Pain</h2>

        </a></li>
        <li><a href="#">

            <h2>Pain Management - Veteran</h2>

        </a></li>
    </ul>
</div><!--end list content-->


    <div data-role="navbar" class="nav-bar"   data-grid="d" data-id="myfooter" data-position-to="g" data-position="fixed" data-theme="b" data-prefetch="true">
    <ul>

        <li><a href="#home" id="tbutton1" data-icon="custom" >Home</a></li>
        <li><a href="#learn"  id="tbutton2" data-icon="custom" class="ui-btn-active ui-state-persist">Learn</a></li>
        <li><a href="#assess" id="tbutton3" data-icon="custom" >Access</a></li>
        <li><a href="#manage" id="tbutton4" data-icon="custom">Manage</a></li>
        <li><a href="#goals" id="tbutton5" data-icon="custom">Goals</a></li>
    </ul>
</div>
