<div data-role="header" data-theme="b" data-corners="false">

    <h1>PAIN BASICS</h1>

    <a href="#" data-icon="gear" class="ui-btn-right">Print</a>
</div><!-- /header -->

<div data-role="content" data-theme="b" class="ui-content ui-body-a" role="main">
    <h2>Acute vs. Chronic</h2>
    <p>
        Pain can be acute (shore lived) or chronic (long lasting).  Most pain is acute - like pain you'd get if you broke your arn.
        Acute pain is a signal of an injury and the need to protect yourself by not using the arm unit until it has healed.
        When pain lasts more than 3 months, it is chronic.  Chronic pain is not an alert of more injury, even though you are still hurting.
        It is like a broken car horn; you still hear the sound even though there is no danger.  Stopping activity is not helpful.
        In fact, not moving enough cause your muscles to lose strength and become tight and sore, causing more pain.
        There are other ways the treatment of chronic and acute pain are different.  When pain is acute, treatment may include
        rest and medication and possibly surgery.  When pain is chronic, medication may be part of the treatment but the addition of pain management skills is also...
    </p>
</div><!-- /content -->

<div data-role="footer" data-position="fixed" data-theme="b">
    <h4><a href="#learnbasics" data-rel="back" data-role="button" data-inline="true" data-icon="back">Back Pain Basics</a></h4>
</div><!-- /footer -->