<div data-role="header" data-theme="b">
    <h1>PAIN BASICS</h1>

    <a href="#" data-icon="gear" class="ui-btn-right">Print</a>
</div><!-- /header -->
<div data-role="content" data-theme="b">
    <h2>Pain Cycle</h2>
    <p>
        Chronic pain can affect the whole person, not just the area where you experience pain.  Why does pain have such widespread effects?  When people
        have chronic pain they often try to cope by reducing their activity and trying to protect the painful area.  Unfortunately, over time reduced activity can lead to more
        not less pain.  Reduced activity can leads to weaker muscles, which leads to even further reduced activity.  Over time, lac of activity results
        in sore, tight, weak muscles and possible  muscle spasms, which adds another layer of pain on top of the original area of pain.  Sleep may suffer as a result.
        Lack of activity can also lead to feelings of sadness, boredom, frustration and loneliness.  As a results, people may withdraw from others or have a "shorter fuse"
        with friends.  They may worry more, or may

    </p>
</div><!-- /content -->

<div data-role="footer" data-theme="b">
    <h4><a href="#learnbasics" data-rel="back" data-role="button" data-inline="true" data-icon="back">Back To Pain Basics</a></h4>
</div><!-- /footer -->