<div data-role="dialog" data-corners="false" tabindex="0" class="ui-page ui-body-c ui-dialog ui-overlay-a ui-page-active" style="min-height: 332px;"><div role="dialog" class="ui-dialog-contain ui-overlay-shadow">
    <div data-role="header" class="ui-header ui-bar-a" role="banner"><a href="#" class="ui-btn-left ui-btn ui-shadow ui-btn-corner-all ui-btn-icon-notext ui-btn-up-a" data-icon="delete" data-iconpos="notext" data-corners="true" data-shadow="true" data-iconshadow="true" data-wrapperels="span" data-theme="a" title="Close"><span class="ui-btn-inner"><span class="ui-btn-text">Close</span><span class="ui-icon ui-icon-delete ui-icon-shadow">&nbsp;</span></span></a>
        <h1 class="ui-title" role="heading" aria-level="1">Dialog</h1>
    </div>

    <div data-role="content" class="ui-content ui-body-c" role="main">
        <h1>No rounded corners</h1>
        <p>This is a regular page, styled as a dialog. To create a dialog, just link to a normal page and include a transition and <code>data-rel="dialog"</code> attribute.</p>

    </div>
    <div data-role="footer" data-position="fixed" data-theme="b">
        <h4><a href="#learnbasics" data-rel="back" data-role="button" data-inline="true" data-icon="back">Back Pain Basics</a></h4>
    </div><!-- /footer -->

</div>
</div>