
<div data-role="header" data-theme="a">
     <a href="#panel1" data-rel="back" data-role="button" data-inline="true" data-icon="back">Close</a>
    <h1>SOUND SETTINGS</h1>

    <a href="#" data-icon="gear" class="ui-btn-right">Print</a>
</div><!-- /header -->

<div data-role="content" data-theme="a" data-overlay-theme="e">
    <div data-controltype="textblock">
        <p>
            <b>
                Use Sound
            </b>
        </p>
    </div>
    <div data-role="fieldcontain" data-controltype="toggleswitch">
        <select name="toggleswitch3" id="toggleswitch3" data-theme="b" data-role="slider">
            <option value="off">
                Off
            </option>
            <option value="on">
                On
            </option>
        </select>
    </div>
    <div data-role="fieldcontain" data-controltype="slider">
        <label for="slider1">
            Sound Volume
        </label>
        <input id="slider1" type="range" name="slider" value="50" min="0" max="100"
               data-highlight="false" data-theme="b">
    </div>
    <div id="checkboxes3" data-role="fieldcontain" data-controltype="checkboxes">
        <fieldset data-role="controlgroup" data-type="vertical">
            <legend>
                Choose:
            </legend>
            <input id="checkbox3" name="" data-theme="b" type="checkbox">
            <label for="checkbox3">
                Page Clicks
            </label>
        </fieldset>
    </div>
    <div id="checkboxes4" data-role="fieldcontain" data-controltype="checkboxes">
        <fieldset data-role="controlgroup" data-type="vertical">
            <legend>
                Choose:
            </legend>
            <input id="checkbox4" name="" data-theme="b" type="checkbox">
            <label for="checkbox4">
                Hints
            </label>
        </fieldset>
    </div>
    <div data-role="fieldcontain" data-controltype="radiobuttons">
        <fieldset data-role="controlgroup" data-type="vertical">
            <legend>
                Choose:
            </legend>
            <input id="radio3" name="" value="1" data-theme="b" type="radio">
            <label for="radio3">
                English
            </label>
        </fieldset>
    </div>
</div>
<div data-role="footer">
    <h4><a href="#panel1" data-rel="back" data-role="button" data-inline="true" data-icon="back">Close</a></h4>
</div><!-- /footer -->