<!--<div data-role="page" data-control-title="user" id="user">-->
    <div data-theme="a" data-role="header">
        <a href="#panel1" data-rel="back" data-role="button" data-inline="true" data-icon="back">Close</a>
        <h3>
            User Info
        </h3>
    </div>
    <div data-role="content" data-role="content" data-theme="a" data-overlay-theme="e">
        <div data-role="fieldcontain" data-controltype="camerainput">
            <label for="camerainput1">
                Your Photo
            </label>
            <input type="file" name="" id="camerainput1" accept="image/*" capture="camera"
                   data-mini="true">
        </div>
        <div data-role="fieldcontain" data-controltype="dateinput">
            <label for="dateinput3">
                Your Birthday
            </label>
            <input name="" id="dateinput3" placeholder="" value="" type="date">
        </div>
        <div data-role="fieldcontain" data-controltype="textinput">
            <label for="textinput3">
                Street Address 1
            </label>
            <input name="" id="textinput3" placeholder="" value="" type="text" data-mini="true">
        </div>
        <div data-role="fieldcontain" data-controltype="textinput">
            <label for="textinput4">
                Street Address2
            </label>
            <input name="" id="textinput4" placeholder="" value="" type="text" data-mini="true">
        </div>
        <div data-role="fieldcontain" data-controltype="selectmenu">
            <label for="selectmenu1">
                Gender
            </label>
            <select id="selectmenu1" data-native-menu="false" name="" data-theme="a">
                <option value="option1">
                    Male
                </option>
                <option value="value">
                    Female
                </option>
                <option value="BI">
                    Option
                </option>
            </select>
        </div>
        <div data-role="fieldcontain" data-controltype="textinput">
            <label for="textinput5">
                Email
            </label>
            <input name="" id="textinput5" placeholder="dbagno@mac.com" value="" type="email"
                   data-mini="true">
        </div>
    </div>

        <!--
</div>-->