<div data-role="header" data-theme="b">
    <a href="#home" data-icon="home" >Home</a>
    <span class="ui-title">Goals</span>
</div>

<div data-role="content">
    <ul data-role="listview" data-inset="true">
        <li><a href="#" data-transition="slide">
            <img src="_assets/img/Goals-MyGoals.png">
            <h2>My Goals</h2>
        </a></li>
        <li><a href="#">
            <img src="_assets/img/Assess-PainReport.png">
            <h2>Reports</h2>
        </a></li>
    </ul>

</div>
<div data-role="navbar" class="nav-bar"   data-grid="d" data-id="myfooter" data-position-to="g" data-position="fixed" data-theme="b" data-prefetch="true">
    <ul>
        <li><a href="#home"  id="tbutton1" data-icon="custom" >Home</a></li>
        <li><a href="#learn"  id="tbutton2" data-icon="custom">Learn</a></li>
        <li><a href="#assess" id="tbutton3" data-icon="custom" >Access</a></li>
        <li><a href="#manage" id="tbutton4" data-icon="custom">Manage</a></li>
        <li><a href="#goals" id="tbutton5" data-icon="custom" class="ui-btn-active ui-state-persist">Goals</a></li>
    </ul>
</div>