<div data-role="header" data-theme="b">
    <a href="#goals" data-icon="back" >Goals</a>
    <a href="#create-goal" data-icon="plus" data-iconpos="notext">Create Goal</a>
    <span class="ui-title">My Goals</span>
</div>

<div data-role="content"></div>
<div data-role="navbar" class="nav-bar"   data-grid="d" data-id="myfooter" data-position-to="g" data-position="fixed" data-theme="b" data-prefetch="true">
    <ul>
        <li><a href="#home"  id="tbutton1" data-icon="custom" >Home</a></li>
        <li><a href="#learn"  id="tbutton2" data-icon="custom">Learn</a></li>
        <li><a href="#assess" id="tbutton3" data-icon="custom" >Access</a></li>
        <li><a href="#manage" id="tbutton4" data-icon="custom">Manage</a></li>
        <li><a href="#goals" id="tbutton5" data-icon="custom" class="ui-btn-active ui-state-persist">Goals</a></li>
    </ul>
</div>