

<div data-theme="b" data-role="header" data-position="fixed">

    <a data-role="button" href="#manage" data-icon="back" data-iconpos="left"
       class="ui-btn-left">
       Manage
    </a>
    <h3>
       Tools
    </h3>
    <a data-role="button" href="#" data-icon="star" data-iconpos="right"
       class="ui-btn-right">
        Favorites
    </a>
</div>

<div data-role="content"><!--//page 3 list content-->
    <ul data-role="listview" data-inset="true">
        <li><a href="#">
            <h2>SNAP</h2>
        </a></li>
        <li><a href="#">
            <h2>Deep Breathing</h2>
        </a></li>
        <li><a href="#">
            <h2>Distract Yourself</h2>
        </a></li>
        <li><a href="#">
            <h2>Muscle Relaxation</h2>
        </a></li>
        <li><a href="#">
            <h2>Activity Pacing</h2>
        </a></li>
        <li><a href="#">
            <h2>Visualization</h2>
        </a></li>
        <li><a href="#">
            <h2>Plan a Pleasant Activity</h2>
        </a></li>
        <li><a href="#">
            <h2>Sleep Tips</h2>
        </a></li>
    </ul>

</div><!-- /page 3 list content -->
<div data-role="navbar" class="nav-bar"   data-grid="d" data-id="myfooter" data-position-to="g" data-position="fixed" data-theme="b" data-prefetch="true">
    <ul>
        <li><a href="#home"  id="tbutton1" data-icon="custom">Home</a></li>
        <li><a href="#learn"  id="tbutton2" data-icon="custom">Learn</a></li>
        <li><a href="#assess" id="tbutton3" data-icon="custom">Access</a></li>
        <li><a href="#manage" id="tbutton4" data-icon="custom" class="ui-btn-active ui-state-persist">Manage</a></li>
        <li><a href="#goals" id="tbutton5" data-icon="custom">Goals</a></li>
    </ul>
</div>

