

<div data-theme="b" data-role="header" data-position="fixed">

    <a data-role="button" href="#manage" data-icon="back" data-iconpos="left"
       class="ui-btn-left">
      Manage
    </a>
    <h3>
        Activity Pacing
    </h3>
    <a data-role="button" href="#" data-icon="star" data-iconpos="right"
       class="ui-btn-right">
        Help
    </a>
</div>

<div data-role="content"><!--//page 3 list content-->


</div>

</div><!-- /page 3 list content -->
<div data-role="navbar" class="nav-bar"   data-grid="d" data-id="myfooter" data-position-to="g" data-position="fixed" data-theme="b" data-prefetch="true">
    <ul>
        <li><a href="#home"  id="tbutton1" data-icon="custom">Home</a></li>
        <li><a href="#learn"  id="tbutton2" data-icon="custom">Learn</a></li>
        <li><a href="#assess" id="tbutton3" data-icon="custom">Access</a></li>
        <li><a href="#manage" id="tbutton4" data-icon="custom" class="ui-btn-active ui-state-persist">Manage</a></li>
        <li><a href="#goals" id="tbutton5" data-icon="custom">Goals</a></li>
    </ul>
</div>

